<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1 class="title">Action 1 2 3 Post!!</h1>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      corporis ipsum vel. Hic eaque numquam praesentium aspernatur nulla amet
      quas magnam ipsam esse adipisci soluta ipsa, quaerat cumque tenetur odio?
    </p>
  </body>
</html>
