<%- include("../includes/head") %>
<section class="premium">
  <div class="card">
    <h3>WEIO PREMIUM</h3>
    <ul>
      <li>Can Save post as PDF</li>
      <li>Animate profile badges</li>
      <li>Can set username (Unlimited)</li>
    </ul>
    <p>Buy WEIO Premium</p>
  </div>
</section>
<%- include("../includes/foot") %>
