<%- include("../includes/head") %>
<section class="mx-auto">
  <h1 class="title">Set Username</h1>
  <% if(errorMsg.length){ %>
  <p class="msg-box"><%= errorMsg %></p>
  <% } %>
  <form action="/admin/set-username" method="POST" novalidate>
    <input value="<%= csrfToken %>" name="_csrf" hidden />
    <div>
      <label for="username">Enter username</label>
      <input type="text" id="username" name="username" />
    </div>
    <button>Set Username</button>
  </form>
</section>
<%- include("../includes/foot") %>
